{
  "singleQuote": false,
  "semi": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "printWidth": 100000,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
